
/* .password-input {
  position: relative;
} */

.password-eye {
  position: absolute;
  top: 5%;
  left: 35%;
  /* right: 0;  */
  transform: translateY(-50%);
  cursor: pointer;
}

.password-eye svg {
  width: 24px;
  height: 24px;
}
#password{
    width: 400px;
    height: 30px;
}
.t{
    display: none;
    position: absolute;
  top: 5%;
  left: 35%;
  /* right: 0;  */
  transform: translateY(-50%);
  cursor: pointer;
}
.a{
    position: absolute;
  top: 5%;
  left: 35%;
  /* right: 0;  */
  transform: translateY(-50%);
  cursor: pointer;
}